.download-button {
    background-color: white;
    border: 1px solid var(--grey);
    border-radius: 4px;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    padding: 8px 24px;
    display: block;
    margin: auto;
}