@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font: "Montserrat", sans-serif;
  --green: #70C05B;
  --black: #414141;
  --grey: #8F8F8F;
  --light-grey: #F3F2F1;
  --orange: #FF6633;
  --bg-footer: #F9F4E2;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
p,
h1,
h2,
h3,
ul,
ol,
button {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

body {
  overflow-x: hidden;
  background: var(--dark-green);
}

.row {
  display: flex;
}

.container {
  width: 100%;
  max-width: 1208px;
  margin: 0 auto;
}

.d-block {
  display: block;
}

input {
  outline: none !important;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

img {
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 25px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}