.catalogButton {
    border-radius: 4px;
    background-color: var(--green);
    padding: 8px 12px;
    color: white;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    max-height: 40px;
}

.icon {
    margin-right: 8px;
}