.header {
    padding: 10px 0;
    background-color: #fff;
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, .1));
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box__left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-box__right {
    display: flex;
    gap: 24px;
}

.nav {
    display: flex;
    gap: 24px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.nav-link p {
    font-size: 12px;
    font-weight: 500;
    color: var(--black);
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user p {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.user-button {
    background-color: transparent;
    padding: 8px;
}